name: Mirror to personal repo

on:
  push:
    branches:
      - main
      - develop

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Push to personal repo
        run: |
          git config --global user.email "sync@github.com"
          git config --global user.name "GitHub Sync"

          git remote add personal https://JesuLoDamilare-JLD:${{ secrets.PERSONAL_GITHUB_TOKEN }}@github.com/JesuLoDamilare-JLD/uiux3days.git
          git push personal --mirror
